
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>The Art to Play Diabolo</title>

    <!-- Bootstrap core CSS -->

      <!--link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">-->
      <link href="/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/website.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">The Art to Play Diabolo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/pages/shows">Shows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/kinds_of_diabolos">Kinds of Diabolos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/tricks">Tricks</a>
          </li>

        </ul>

      </div>
    </nav>

    <main role="main" class="container">

      {{ content }}

    </main><!-- /.container -->


  </body>
</html>
